<p>
  <%= link_to 'Sign in', new_user_session_path %>
</p>
<p>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
</p>
<p>
  <%= link_to 'Graphql', '/graphiql' %>
</p>
<p>
  Documentation at <%= link_to 'https://github.com/rubynor/graphql-ruby-training-ground', 'https://github.com/rubynor/graphql-ruby-training-ground' %>
</p>